
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #add8e6;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.navbar>nav{
    background-color: #daa520;
    height: 40px;
    width: 700px;
    border-style: dashed;
}
.headcontainer{
    background-color: blue;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.box{
    background-color: #ee82ee;
    width: 1000px;
    border-style: dashed;
    height: 450px;
    display: flex;
} 

.container{
    height: 2000px;
}

.sezb{
    padding-top: 30px;
    height: 500px;
    padding-bottom: 30px;

}

.sezc{
    background-color: gray;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sezd{
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
  
}

.seze{
    background-color: black;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px; 
}