
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #add8e6;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.navbar>nav{
    background-color: #daa520;
    height: 40px;
    width: 700px;
    border-style: dashed;
}
.headcontainer{
    background-color: blue;
    
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.box{
    background-color: #ee82ee;
    width: 800px;
    height: 300px;
    border-style: dashed;
    display: flex;
} 

.sezb{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.big{
     background-color: #1e90ff;
     height: 300px;
     width: 700px;
     border-style: dashed;
     padding-right: 0%;
     display: inline-flex;
}
.small{
    background-color: #ffc0cb;
    height: 300px;
    width: 350px;

    border-style: dashed;
    display: inline-flex; 
}
 .sezc{
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
 }
 .sezd{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
 }

.footcontainer{
    background-color: black;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px; 
}

.footnav{
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;

} 

.footcontainer{
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
